* {
    padding: 10;
    margin: 10;
}

body {
    font-family: sans-serif;
}

h1 {
    color: #970f0f;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: aqua;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

h6 {
    color: blue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    color: grey;
    line-height: 1.8;
    font-size: 1rem;
    text-align: center;
}

section {
    padding-top: 75px;
    padding-bottom: 50px;
}

.container {
    width: 1100px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.col-33 {
    width: 33%;
    float: left;
    text-align: center;
}

.col-25 {
    width: 25%;
    float: left;
    text-align: center;
}

.col-50 {
    width: 50%;
    float: left;
    margin: auto;
    padding: auto;
    text-align: center;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

i {
    font-size: 2rem;
    color: yellow;
}

.btn {
    padding: 10px 25px;
    background-color: goldenrod;
    border: 0px;
    border-radius: 25px;
    font-size: .95rem;
    text-transform: uppercase;
    color: white;
}

header {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;
    z-index: 99;
}

.company {
    padding-left: 75px;
    float: left;
}

.company img {
    float: left;
    display: block;
}

.company h2 {
    float: left;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 12px;
}

#main-menu {
    padding-right: 35px;
    float: right;
    margin-top: auto;
}

#main-menu ul {
    list-style: none;
}

#main-menu ul li {
    float: left;
    margin: auto;
}

#main-menu ul li a {
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: red;
    font-size: .95rem;
}

#main-menu ul li a:hover {
    background-color: aliceblue;
    color: goldenrod;
}

.active a {
    background-color: aliceblue;
    color: goldenrod !important;
}

#home {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
}

#home .author_text {
    text-align: left;
    margin-top: 200px;
}

#home p {
    text-align: left;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#home h6 {
    text-align: left;
    color: rgb(128, 128, 128);
    font-size: 1.75rem;
    text-transform: uppercase;
}

#home h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#home img {
    width: auto;
    height: 300px;
    float: right;
}

#progress .col-33 {
    margin-top: 10px;
    margin-bottom: 20px;
}

#progress h5 {
    text-align: left;
    text-transform: uppercase;
    color: rgb(151, 15, 15);
}

.progressbar {
    height: 10px;
    width: 100%;
    background-color: #e9e3e3;
    border-radius: 5px;
    margin: 10px auto;
}

.progress-achieve {
    height: 10px;
    width: 100%;
    background-color: yellow;
    border-radius: 5px;
}


#services {
    background-image: url('../images/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#services .content {
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 5px;
    padding: 55px;
}

#services .content:hover {
    background-color: #2196f3;
}

#services h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    text-transform: uppercase;
}

#services p {
    font-size: .9rem;
    color: #ffffff;
}

#projects .content {
    position: relative;
}

#projects .overlay {
    position: absolute;
    bottom: 10px;
    background-color: #4f1a81;
    left: 22px;
    right: 21px;
    padding: 15px;
    color: whitesmoke;
    text-transform: uppercase;
    display: none;
}

#projects .content:hover .overlay {
    display: block;
}

#review {
    background-image: url('../images/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#review h3 {
    font-size: 2rem;
    color: whitesmoke;
    margin: 25px auto 30px;
}

#review h5 {
    font-size: 1rem;
    color: white;
    margin: 25px auto 35px;
}

#contact {
    background-image: url('../images/banner4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#contact h1 {
    color: white;
    margin-bottom: 35px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    background-color: #302c2c;
    font-size: 1rem;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 5px;
}

#contact textarea {
    height: 150px;
}

#contact button {
    border-radius: 10px;
    padding: 15px 35px;
    background-color: #216fe2;
}

#address {
    margin: 50px auto 25px;
}

#address p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-top: 15px;
}

footer {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 25px 0;
}

#copy-right {
    float: left;
    color: rgb(128, 128, 128);
    ;
}

#social {
    float: right;
    padding: 0px;
}

#social ul {
    list-style-type: none;
}

#social ul li {
    float: left;
    margin: auto 15px;
    height: 20px;
    width: 25px;
    border: 2px solid rgb(128, 128, 128);
    ;
    border-radius: 50%;
    padding-top: 5px;
    text-align: center;
}

#social ul li:last-child {
    margin-right: 0px;
}

#social ul li a i {
    font-size: .8rem;
    color: rgb(128, 128, 128);
}

#upper {
    padding-top: 10px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: rgb(128, 128, 128);
    height: 30px;
    width: 40px;
    text-align: center;
    display: none;
}

#upper i {
    font-size: 1rem;
    color: white;
}

@media (max-width: 1100px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 576px) {

    .col-25,
    .col-33,
    .col-50 {
        width: 100%;
    }

    #main-menu ul li {
        float: none;
    }

    #home .col-50 {
        width: 50%;
    }

    #home img {
        height: 150px;
    }

    #home .author_text {
        margin-top: 50px;
    }

    #home p {
        font-size: .75rem;
    }

    #home h6 {
        font-size: .9rem;
    }

    #home h2 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    #home .btn {
        font-size: .75rem;
        padding: 7px 15px;
    }

    #review .col-25 {
        width: 50%;
    }

    #review .content {
        margin-top: 30px;
    }

    #copy-right,
    #social {
        float: none;
        text-align: center;
    }

    #social ul {
        margin-left: 25%;
    }

}